<div class="panel panel-primary">
   <div class="panel-heading">
     <h2>Station List</h2> 
   </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>name</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Station of stations | async">
          <td>{{Station.id}}</td>
          <td>{{Station.name}}</td>
          <td>
           <a href=""><img src="{{Station.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </td> 
          <td><button (click)="onDeleteStation(Station.id)" class="btn btn-danger" onClick="window.location.reload();">Delete</button>     
              <button (click)="goToUpdateStation(Station.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr> 
      </tbody>
    </table>
  </div>
  <button (click)="gotoAddStation()" class="btn btn-success" style="margin-left: 30px">Add Station</button>
  <button (click)="gotoSplash1()" class="btn btn-info" style="margin-left: 30px">Back to Splash Page</button>
 </div>