
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Trip List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>From Station</th>
          <th>To Station</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trip of trips | async">
          <td>{{trip.id}}</td>
          <td>{{trip.from_station}}</td>
          <td>{{trip.to_station}}</td>
          <td>{{trip.departure_time}}</td>
          <td>{{trip.arrival_time}}</td>
          <td><button (click)="deleteTrip(trip.id)" class="btn btn-danger" onClick="window.location.reload();">Delete</button>     
              <button (click)="updateTrip(trip.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr> 
      </tbody>
    </table>
  </div>
  <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTrips()" onClick="window.location.reload();">Remove All</button>
</div>