<div *ngIf="viewMode; else editable">
    <div *ngIf="currentTrip.id">
      <h4>Trip</h4>
      <div>
        <label><strong>Id:</strong></label> {{ currentTrip.id }}
      </div>
      <div>
        <label><strong>From Station:</strong></label>
        {{ currentTrip.from_station}}
      </div>
      <div>
        <label><strong>To Station:</strong></label>
        {{ currentTrip.to_station}}
      </div>
      <div>
        <label><strong>Departure Time:</strong></label>
        {{ currentTrip.departure_time}}
      </div>
      <div>
        <label><strong>Arrival Time:</strong></label>
        {{ currentTrip.arrival_time}}
        
      </div>
      <button class="badge badge-danger mr-2" (click)="deleteTrip()">Delete</button>
      <a
        class="badge badge-warning"
        routerLink="/trips/{{ currentTrip.id }}"
      >
        Update
      </a>
    </div>

</div>

<ng-template #editable>
  
  <div class="edit-form">
    <div *ngIf="currentTrip.id"></div>
    <h4>Trip</h4>
    <form>
      <div class="form-group">
        <label for="from_station">From Station</label>
        <input
          type="text"
          class="form-control"
          id="from_station"
          [(ngModel)]="currentTrip.from_station"
          name="from_station"
        />
      </div>
      <div class="form-group">
        <label for="to_station">To Station</label>
        <input
          type="text"
          class="form-control"
          id="to_station"
          [(ngModel)]="currentTrip.to_station"
          name="to_station"
        />
      </div>
      <div class="form-group">
          <label for="departure_time">Departure Time</label>
          <input
            type="text"
            class="form-control"
            id="departure_time"
            [(ngModel)]="currentTrip.departure_time"
            name="departure_time"
          />
        </div>
        <div class="form-group">
          <label for="arrival_time">Arrival Time</label>
          <input
            type="text"
            class="form-control"
            id="arrival_time"
            [(ngModel)]="currentTrip.arrival_time"
            name="arrival_time"
          />
        </div>
    </form>

    <button type="submit" class="badge badge-success mb-2" (click)="updateTrip()">Update</button>
    <p>{{ message }}</p>
    
  </div>
</ng-template>