<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    
    <h2 style="color:white" style="font-size: large" style="text-align: center;">Trip Scheduling App</h2>

    <li class="nav-item">
      <a routerLink="register" class="nav-link" routerLinkActive="active">Register</a>
    </li>


    <li class="nav-item">
      <a routerLink="signin" class="nav-link" routerLinkActive="active">Sign In</a>
    </li>


  </ul>
</nav>
<div class="container"> 
  <div class="card">
    <div class="card-body">
  <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>